#promedio {
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
   }

   #act{
    font-family: 'Gill Sans MT', sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #ff4b75;
    font-weight: bold;
  }
  
  #notas {
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
    background-color: #ffa56593;
    color: #ff6a00;
    text-decoration: none;
  }

#menProm {
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
  }
  
  .perdio {
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.683);
    color: red;
  }
  
  .paso {
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
    background-color: rgba(56, 255, 56, 0.642);
    color: green;
    border-radius: 30px;
  }
  
  .promNN{
    font-family: 'Gill Sans MT', sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #ff4b75;
    font-weight: bold;
  }